## Deliverable 2. Create a Customer Travel Destinations Map.

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [46]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Laguna,US,2022-06-21 04:36:30,38.4210,-121.4238,82.454,33,0,1.54,clear sky
1,1,Busselton,AU,2022-06-21 04:36:31,-33.6500,115.3333,64.760,72,100,6.52,overcast clouds
2,2,Butaritari,KI,2022-06-21 04:36:31,3.0707,172.7902,82.796,70,25,5.80,scattered clouds
3,3,Ushuaia,AR,2022-06-21 04:31:49,-54.8000,-68.3000,35.258,80,75,12.86,broken clouds
4,4,Ordubad,AZ,2022-06-21 04:36:32,38.9059,46.0234,77.918,54,0,3.58,clear sky

In [47]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [48]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
new_preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Laguna,US,2022-06-21 04:36:30,38.4210,-121.4238,82.454,33,0,1.54,clear sky
2,2,Butaritari,KI,2022-06-21 04:36:31,3.0707,172.7902,82.796,70,25,5.80,scattered clouds
4,4,Ordubad,AZ,2022-06-21 04:36:32,38.9059,46.0234,77.918,54,0,3.58,clear sky
7,7,Marsh Harbour,BS,2022-06-21 04:36:34,26.5412,-77.0636,79.646,71,16,5.26,few clouds
11,11,Tomatlan,MX,2022-06-21 04:36:36,19.9333,-105.2500,78.800,87,88,0.45,overcast clouds

In [49]:
# 4a. Determine if there are any empty rows.
new_preferred_cities_df.count()

City_ID                240
City                   240
Country                240
Date                   240
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Weather Description    240
dtype: int64

In [50]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = new_preferred_cities_df.dropna()

In [51]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Laguna,US,2022-06-21 04:36:30,38.4210,-121.4238,82.454,33,0,1.54,clear sky
2,2,Butaritari,KI,2022-06-21 04:36:31,3.0707,172.7902,82.796,70,25,5.80,scattered clouds
4,4,Ordubad,AZ,2022-06-21 04:36:32,38.9059,46.0234,77.918,54,0,3.58,clear sky
7,7,Marsh Harbour,BS,2022-06-21 04:36:34,26.5412,-77.0636,79.646,71,16,5.26,few clouds
11,11,Tomatlan,MX,2022-06-21 04:36:36,19.9333,-105.2500,78.800,87,88,0.45,overcast clouds
12,12,Alice Town,BS,2022-06-21 04:36:37,25.7167,-79.3000,82.076,72,70,6.18,moderate rain
13,13,Hithadhoo,MV,2022-06-21 04:36:38,-0.6000,73.0833,83.318,72,49,5.79,scattered clouds
18,18,Miramar,US,2022-06-21 04:36:16,25.9873,-80.2323,82.418,85,20,4.63,light rain
22,22,Vaini,TO,2022-06-21 04:36:42,-21.2000,-175.2000,77.162,88,20,6.17,few clouds
30,30,Bengkulu,ID,2022-06-21 04:36:46,-3.8004,102.2655,83.894,69,51,2.34,broken clouds

In [52]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
new_hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
new_hotel_df["Hotel Name"] = ""
new_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Laguna,US,82.454,clear sky,38.4210,-121.4238,
2,Butaritari,KI,82.796,scattered clouds,3.0707,172.7902,
4,Ordubad,AZ,77.918,clear sky,38.9059,46.0234,
7,Marsh Harbour,BS,79.646,few clouds,26.5412,-77.0636,
11,Tomatlan,MX,78.800,overcast clouds,19.9333,-105.2500,
12,Alice Town,BS,82.076,moderate rain,25.7167,-79.3000,
13,Hithadhoo,MV,83.318,scattered clouds,-0.6000,73.0833,
18,Miramar,US,82.418,light rain,25.9873,-80.2323,
22,Vaini,TO,77.162,few clouds,-21.2000,-175.2000,
30,Bengkulu,ID,83.894,broken clouds,-3.8004,102.2655,

In [54]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in new_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    params["location"] = f"{lat},{lng}"
    hotels = requests.get(base_url, params=params).json()    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        new_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [66]:
# Drop any rows in the hotel_df DataFrame where a hotel name is not found
hotel_df = new_hotel_df.dropna()

In [67]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [78]:
import matplotlib.pyplot as plt
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))